<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Job</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Post a New Job</h1>

    <form th:action="@{/recruiter/jobs/post}" th:object="${job}" method="post">
        <input type="text" th:field="*{title}" placeholder="Job Title" required>
        <input type="text" th:field="*{companyName}" placeholder="Company Name" required>
        <input type="text" th:field="*{location}" placeholder="Location" required>
        <input type="number" th:field="*{salary}" placeholder="Salary" required>
        <textarea th:field="*{description}" placeholder="Description"></textarea>

        <button type="submit">Post Job</button>
    </form>
</div>
</body>
</html>